    <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <div style="width:75%;margin:auto;">
    <h3 style="border-bottom:rgb(58, 39, 187) solid 2px;color:rgb(58, 39, 187);margin-top:10px;margin-bottom:10px;font-family: 'Times New Roman', Times;text-align: left;">Enseignant</h3 >
      <div >
      <ul class="list-group list-group-flush">
        <li class="list-group-item">enseignant1</li>
        <li class="list-group-item">enseignant2</li>
      </ul>
    </div>

    <h3 style="border-bottom:rgb(58, 39, 187) solid 2px;color:rgb(58, 39, 187);margin-top:10px;margin-bottom:10px;font-family: 'Times New Roman', Times;text-align: left;">Autres élèves</h3 >
      <div >
        <ul class="list-group list-group-flush">
          <li class="list-group-item">élève1</li>
          <li class="list-group-item">élève2</li>
          <li class="list-group-item">élève3</li>
          <li class="list-group-item">élève4</li>

          
        </ul>
      </div>
      </div>
      <!-- /.content-header -->

